<footer id="footer">
    <div class="container panel-footer">
        <div class="row">
            <div class="col-sm-4">
                <h4>Informations</h4>
                <ul class="nav nav-stacked">
                    <li>1</li>
                    <li>2</li>
                </ul>
            </div> 

            <div class="col-sm-4">
                <h4>Siège</h4>
                <p><i class="icon-map-marker"></i>&nbsp;{{ adresse }}</p>
            </div>

            <div class="col-sm-4">
                <h4>Nous contacter</h4>
                <p><i class="icon-phone"></i>&nbsp;Tel: {{ telephone }}</p>
                <p><i class="icon-print"></i>&nbsp;Fax: {{ fax }}</p>
            </div>
        </div>

        <div class="row">
            <div class="span12 text-center"><hr/>
                <p>&copy; Copyright {{ 'now'|date('Y') }} - Gueye</p>
            </div>
        </div>
    </div>
</footer>